<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="../bootstrap-4.0.0/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="../bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<button id="a1" type="button" class="btn btn-primary">Primary</button>
<button onclick="window.open('../bootstrap/product','_blank')" ; type="button" class="btn btn-primary">Primary
</button>
<button onclick="window.open('../bootstrap/album','_blank')" ; type="button" class="btn btn-primary">Primary
</button>
</body>
<script>

    $(document).ready(function () {
        $("#a1").click(function () {

        });
    });</script>
</html>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../bootstrap-4.0.0/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../bootstrap-4.0.0/assets/js/vendor/popper.min.js"></script>
<script src="../bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
<script src="../bootstrap-4.0.0/assets/js/vendor/holder.min.js"></script>